* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    background-color: #fffaf0;
    color: #333;
}
nav {
   color: #fffaf0;
   margin-bottom: 2rem;
}

.nav-links a {
    color: #ffd700;
    text-decoration: none;
    font-weight: 500;
}

.logo{
    text-align: center;
    margin-bottom: 1rem;
}
button {
   background-color: #8b4513;
   color: #fffaf0;
   padding: 0.5rem;
   border-radius: 8px;
   border: none;
}

button:hover {
    background-color: #a0522d;
    padding: 1rem 2rem;
}

.navbar {
    background-color: #8b4513;
    padding: 2rem 4rem;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.Depoimentos-texto h1 {
    color: #8b4513;
}

.Cardápio-texto h1 {
    color: #8b4513;
}
.Cardápio-texto li {
    list-style: none;
}
.Depoimentos-texto li {
    list-style: none;
}
.expresso {
    background-color: #f5f5dc;
    margin: 25px;
    padding: 2rem 2rem;
    border-radius: 8px;
    border: 1px solid;
    border-color: #a0522d;
}

.bolo {
    background-color: #f5f5dc;
    margin: 25px;
    padding: 2rem 2rem;
    border-radius: 8px;
    border: 1px solid;
    border-color: #a0522d;
}

.Ana {
    background-color: #f5f5dc;
    margin: 25px;
    padding: 2rem 2rem;
    border-radius: 8px;
    border: 1px solid;
    border-color: #a0522d;
}


.Joao {
    background-color: #f5f5dc;
    margin: 25px;
    padding: 2rem 2rem;
    border-radius: 8px;
    border: 1px solid;
    border-color: #a0522d;
}
footer {
    background-color: #eee;
    padding: 2rem 4rem;
    justify-content: space-between;
}